@import "~antd/dist/antd.css";

.ant-layout,
.ant-layout-footer {
  background-color: white;
}
.content {
  margin: 24px 16px 0;
}
.Row {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.Column {
  display: table-cell;
  background-color: white;
}
.avatar {
  float: left;
}
.title {
  padding: 10px;
  margin-left: 7.5em;
}
.assessment-button {
  border-radius: 0.5em;
}
.notify {
  font-size: 18px;
}
.slider {
  background: white;
  background-color: white;
  color: white;
  padding-left: 4em;
  padding-right: 4em;
}
.footer-tag {
  padding-left: 6.5em;
  font-size: 18px;
}
.menu {
  text-align: center;
  border-right: none;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
}
.site-layout-sub-header-background {
  height: 6.333em;
  background: #fff;
}

.site-layout-background {
  padding: 24;
  min-height: 360;
  background: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.responsive {
  width: 100%;
  height: auto;
}
